name: GET Twitter

on:
  schedule:
    # At 2am every night
    - cron:  '0 2 * * *'

jobs:
  get-data:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm install
    - name: Fetch Twitter data
      env:
        TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
        TWITTER_API_SECRET: ${{ secrets.TWITTER_API_SECRET }}
      run: npm run get-twitter
    - name: check for changes
      run: git status
    - name: stage changed files
      run: |
        git config --local user.name "ocf-bot"
        git add .
        git commit -m "Add current twitter data"
    - name: fetch from master
      run: git fetch origin master
    - name: push code to master
      run: git push origin HEAD:master
